body {
  background-color: #000;
  font-family: 'PT Sans Narrow';
}
.movies {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20.66rem;
  margin: 0 .7rem 2rem .7rem;
  transition: all 0.5s ease;
  background-color: rgb(255, 255, 255);
  color: #000;
  padding: 20px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
}
.movie-lists{
  text-decoration: none;
  color: #000;
}
.movie-lists:hover {
  text-decoration: underline rgb(255, 183, 3);
  color: #000;
}
.movies:hover {
  transform: scale(1.02);
}
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.yellow-color {
  color: rgb(255, 183, 3);
}
.blue-shade {
  color: rgb(142, 202, 230);
}
.original-title {
  font-size: 25px;
  font-weight: bold;
  margin: 0px 0px 20px;
}
.poster-path {
  min-height: 400px;
  width: 100%;
  margin: 0px 0px 20px;
}
.extra-margin {
  margin-top: 70px;
}
.image-container {
  border: 1px solid #dbd3d3;
  padding: 40px 20px;
}
.image-size {
  height: 500px;
  width: 400px;
}
.movie-content p{
  font-size: 20px;
  letter-spacing: 1px;
}

/* Loader */

.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bounceball {
  position: relative;
  display: inline-block;
  height: 37px;
  width: 15px;
}
.bounceball::before {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #37a1a7;
  transform-origin: 50%;
  animation: bounce 500ms alternate infinite ease;
}
.loader-text {
  color: #37a1a7;
  display: inline-block;
  margin-left: 5px;
  font-size: 25px;
}

@keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    transform: scaleX(2);
  }
  35% {
    height: 15px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}